@model myproject.Models.Post

<div class="comments" id="@Model.PostID">

</div>

<script>
    $(document).ready(function () {

        var id = @Model.PostID;
        var commentcount = document.getElementById("commentcount");
        $.ajax({
            url: "https://localhost:44371/api/PostsAPI/" + id,
            method: 'GET',
            success: function (response) {
                $('#commentcount-@Model.PostID').append("<em class='mr-5'>" + response.PostComment.length + "</em>")
                for (var i = 0; i < response.PostComment.length; i++) {
                    $('#@Model.PostID').append("<div class='row'><div style='height:fit-content;' class='col-8'><p style='font-weight: bold;'>" + response.PostComment[i].PostCommentAuthor + "</p><p style='word-break: break-all;margin-left:5px'>" + response.PostComment[i].PostCommentContent + "</p></div ><div class='col-4'><p style='float: right;padding-right: 30px;'> " + response.PostComment[i].PostCommentDate + "</p></div></div>");
                }
            }
        });
    });
</script>